/* Estilos de la cabecera */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }